:root{
  --bg:#000000;
  --panel:#111111;
  --text:#ffffff;
  --muted:#b7b7b7;
  --accent:#f57c00;
  --border:rgba(255,255,255,.08);

  --surface:#0a0a0a;
  --surface2:#0b0b0b;

  --topbarBg:rgba(17,17,17,0.75);
  --heroOverlay:rgba(0,0,0,.70);

  --softPanel:rgba(255,255,255,0.02);
  --glass:rgba(255,255,255,0.06);

  --quillToolbarBg:var(--surface2);
  --quillEditorBg:var(--surface2);
  --quillPickerBg:#111;
  --quillStroke:var(--text);
}
