:root{
  --bg:#f4f5f7;
  --panel:#ffffff;
  --text:#111111;
  --muted:#4b5563;
  --accent:#f57c00;
  --border:rgba(0,0,0,.10);

  --surface:#f1f3f5;
  --surface2:#e9eef2;

  --topbarBg:rgba(255,255,255,0.72);
  --heroOverlay:rgba(0,0,0,.35);

  --softPanel:rgba(0,0,0,0.03);
  --glass:rgba(0,0,0,0.04);

  --quillToolbarBg:#ffffff;
  --quillEditorBg:#ffffff;
  --quillPickerBg:#ffffff;
  --quillStroke:var(--text);
}
