{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="panel">
    <h1 class="accent">Change Password</h1>

    <form method="POST" class="form" style="margin-top:14px;">
      <label class="label">Old Password</label>
      <input class="input" type="password" name="old_password" required>

      <label class="label">New Password</label>
      <input class="input" type="password" name="new_password" required>

      <label class="label">Confirm New Password</label>
      <input class="input" type="password" name="confirm_password" required>

      <div class="actions-row">
        <button class="btn" type="submit">Change</button>
        <a class="btn btn-outline" href="{{ url_for('events') }}">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
