{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="panel">
    <h1 class="accent">Reset Password</h1>

    <p class="muted">OTP expires in <span id="otp-timer">15:00</span></p>

    <form method="POST" class="form">
      <input class="input" type="email" value="{{ email }}" readonly>
      <input class="input" name="otp" placeholder="OTP" required>

      <input class="input" id="password" name="password1" type="password" placeholder="New password" required>

      <div class="pw-strength"><div id="pw-bar"></div></div>
      <small id="pw-text"></small>

      <input class="input" name="password2" type="password" placeholder="Confirm password" required>

      <button class="btn">Update Password</button>
    </form>
  </div>
</div>

<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
<script src="{{ url_for('static', filename='js/otp.js') }}"></script>
{% endblock %}
