{# templates/_media.html
   Single source of truth for turning DB values into usable URLs.
   - URLs (http/https): return directly (with Google Drive normalization)
   - Filenames: /static/uploads/<name>
#}

{% macro media_url(value) -%}
  {%- set v = (value or '') | trim -%}
  {%- if not v -%}
    {{ '' }}
  {%- elif v.startswith('http://') or v.startswith('https://') -%}
    {# --- Normalize Google Drive URLs to a reliable <img> URL --- #}
    {%- if 'drive.google.com/file/d/' in v -%}
      {%- set fid = v.split('drive.google.com/file/d/')[1].split('/')[0] -%}
      https://drive.usercontent.google.com/download?id={{ fid }}&export=view
    {%- elif 'drive.google.com/uc' in v and 'id=' in v -%}
      {%- set fid = v.split('id=')[1].split('&')[0] -%}
      https://drive.usercontent.google.com/download?id={{ fid }}&export=view
    {%- else -%}
      {{ v }}
    {%- endif -%}
  {%- else -%}
    {{ url_for('static', filename='uploads/' ~ v) }}
  {%- endif -%}
{%- endmacro %}
